sandbox/
*~
.directory
.Trash-*
*.iml
.idea/
*.ipr
*.iws
/out/
.idea_modules/
*.class
*.log
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
.scala_dependencies
.worksheet
*.actual
secrets.yml

